@mixin center($top) {
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both; // cleatr both float: left & float: right
    display: table;
  }
}
