*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Make root font-size 10px, because it's
     easier to calculate rem values in your head */
  /* font-size: 10px; */

  /* It is bad practice to hard code the default font
     size, because if someone changes their browser's
     default font size, because they can't see well
     then we will ignore their setting.
     We need to change our default font size to be a
     percentage of the browser's default font size,
     which is 16px.
     Since we want our default font size to be 10px
     we need to make it 62.5% (10px/16px*100).
     Indicates what 1rem is. */
  font-size: 62.5%; // 10px

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }

  // @include respond-phone {
  //   font-size: 50%;
  // }
  // width > 1800px
  @include respond(big-desktop) {
    font-size: 75%; // 12px, 12/16 = 75%
  }
  // width < 1200px
  @include respond(tab-land) {
    font-size: 56.25%; // 9px, 9/16 = 56.25%
  }
  // width < 900px
  @include respond(tab-port) {
    font-size: 50%; // 8px, 8/16 = 50%
  }
  // width < 600px
  // @include respond(phone) {
  //   font-size: 37.5%; // 6px, 6/16 = 37.5%
  // }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

// Change the style of selected text on the page
::selection {
  background-color: $color-primary;
  color: $color-white;
}
